
  .nav-item.dropdown.show a {
  color: white !important;
  }
  
  #navbarDropdown {
  color: #ffffff;
  }
  .navlink.a {
  color: white !important;
  }
  
  .container{
  background-color: black;
  }
  
  .navbar{
  background: black;
  }
 .text{
   color: white;
 }
 .sea{
  color: white;
  background-color: black;
  border-color: black;
  width: 100px;

}
 
