
  <nav class="navbar navbar-expand-lg">
  <div class="container">
  <a class="navbar-brand" href="#">
  
  <img src ="assets/curiosity-stream.PNG" alt="" width="190" height = "60" class="d-inline-block align-text-top">
  
  </a>
  
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <!dropdown>
  <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: black; padding-top: 35px;">
  BROWSE
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" href="#">Science</a></li>
  <li><a class="dropdown-item" href="#">History</a></li>
  <li><a class="dropdown-item" href="#">Technology</a></li>
  <li><a class="dropdown-item" href="#">Nature</a></li>
  <li><a class="dropdown-item" href="#">Society</a></li>
  <li><a class="dropdown-item" href="#">Lifestyle</a></li>
  <li><a class="dropdown-item" href="#">Kids</a></li>
  <li><a class="dropdown-item" href="#">Crash Course</a></li>
  
  </ul>
  </li>
  
  <a class="nav-link" href="#" style="color: white; padding-top: 35px;">COLLECTIONS</a>
  
  <li class="nav-item dropdown" style="padding-top: 27px;">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  MY STUFF
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" href="#">Keep Watching</a></li>
  <li><a class="dropdown-item" href="#">Watchlist</a></li>
  <li><a class="dropdown-item" href="#">Watching History</a></li>
  </ul>
  <a class="navbar-brand" href="#">
  
  
  
  </a>
  </li>
  <a class="navbar-brand" href="#" style="padding-top: 35px;">
  <img src ="assets/ynow.png" alt="" width="80" height = "40" class="d-inline-block text-align-top">
  </a>
  </ul>
  
  
  
  
  
  
  
  <form id="form">
  
  <a class="navbar-brand" href="#">
  <img src ="assets/mag.png" alt="" width="30" height = "30" class="d-inline-block align-text-top" style="padding-right: 0px;">
  </a>
  <input type="search" id="query" name="q" placeholder="SEARCH" style="padding-left: 0px; width: 100px; background-color: black; color: white; border-color: black;">
  
  </form>
  
  
  <a class="navbar-brand" href="#" style="padding-right: 0px;">
  <img src ="assets/u.png" alt="" width="30" height = "30" class="d-block w-40" >
  </a>
  
  <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-bottom: 30px;">
  USERNAME
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li><a class="dropdown-item" href="#">ACCOUNT</a></li>
  <li><a class="dropdown-item" href="#">HELP</a></li>
  <li><a class="dropdown-item" href="#">SIGN OUT</a></li>
  </ul>
  
  
  </li>
  </div>
  </div>
  </nav>