<p *ngIf="myInfo == undefined">failed to fetch user info</p>
<div *ngIf="myInfo != undefined">
    <div class = "container-fluid">
        <div class = "d-flex flex-row justify-content-between">
            <div class = "flex-column">
                User:{{myInfo.FirstName}} {{myInfo.LastName}}

            </div>
            <div class = "flex-column">
                Mix Id: {{myInfo.mix_id}}
            </div>
            <div class = "flex-column">
                GitHub: {{myInfo.GitHub}}
            </div>
        </div>

    </div>
</div>