
    
    <!-- Footer -->
    <footer class="text-center ">
      <!-- Grid container -->
     
           
        <section class="">
          
          <div class="row">
            <div class="col-sm">
              <img src ="assets/yyy.png" alt="" width="60" height = "60" >
            </div>
            
            <div class="col-sm">

              <a class="nav-link text"  href="#" >Gift Cards</a>
            </div>
            
            <div class="col-sm">
              <a class="nav-link text"  href="#" >Help Center</a>
            </div>
           
            <div class="col-sm">
              <a class="nav-link text" href="#">About</a>
             
            </div>
           
            <div class="col-sm">
              <a class="nav-link text" href="#" >Careers</a>

            </div>
            <div class="col-sm">
              <a class="nav-link text" href="#" >Accessibility</a>

            </div>
            <div class="col-sm">
              <a class="nav-link text" href="#" >Corporate Subscriptions</a>

            </div>
            <div class="col-sm">
              <a class="nav-link" href="#"> <img src ="assets/sm.png" alt="" width="200" height = "50" >

              </a> 

            </div>
           
          </div>
        
        </section>
  
        <hr class = "text">
        
        <section class="">
          
          <div class="row">
            <div class="col-sm">
              <p class = "text-start">
              <a class="nav-link text" href="#">Privacy    Terms</a>
            </p>

            </div>
            <div class="col-sm text">
            <p class="text-end">
              @2022 Curiosity Stream Inc.</p>
            </div>


            </div>
            </section>
            
    
      
     
    
      
    
    </footer>
    <!-- Footer -->