<style>
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: bottom;
    }
    </style>
    
    <!-- Footer -->
    <footer class=" text-center ">
      <!-- Grid container -->
      <div class="container p-4">

    
    
       
            </div>
           
        <section class="">
          
          <div class="row">
            <div class="col-sm">
              <img src ="assets/Y.png" alt="" width="90" height = "100" style="padding-bottom: 25px;">
            </div>
            
            <div class="col-sm">
              <a class="nav-link" href="#" style="color: white; padding-left: 0px;">Gift Cards</a>
            </div>
            
            <div class="col-sm">
              <a class="nav-link" href="#" style="color: white; padding-left: 0px;">Help Center</a>
            </div>
           
            <div class="col-sm">
              <a class="nav-link" href="#" style="color: white; padding-left: 0px;">About</a>
             
            </div>
           
            <div class="col-sm">
              <a class="nav-link" href="#" style="color: white; padding-left: 0px;">Careers</a>

            </div>
            <div class="col-sm">
              <a class="nav-link" href="#" style="color: white; padding-left: 0px;">Accessibility</a>

            </div>
            <div class="col-sm">
              <a class="nav-link" href="#" style="color: white; padding-left: 0px;">Corporate Subscriptions</a>

            </div>
            <div class="col-sm">
              <a class="nav-link" href="#"> <img src ="assets/sm.png" alt="" width="200" height = "70" style="padding-bottom: 25px;">

              </a> 

            </div>
           
          </div>
        
        </section>
  
        <hr/>
        <section class="">
          
          <div class="row">
            <div class="col-sm">
              <a class="nav-link" href="#" style="color: white;  text-align: left; ">Privacy    Terms</a>

            </div>
            <div class="row">
            <p style="text-align: right;">
              @2022 Curiosity Stream Inc.</p>
            </div>


            </div>
            </section>
            
    
      
     
    
      
    
    </footer>
    <!-- Footer -->