
<div class="card bg-dark text-white">
  <iframe allow="fullscreen" frameBorder="fullscreen" height="700" src="https://giphy.com/embed/uhYPkjP03h9RvVdazZ/video" width="fullscreen"></iframe></div>
  <div class="card-img-overlay">
    <h5 class="card-title">Rick Roll</h5>
    <p class="card-text">No matter what you say you did not see this coming</p>
    <div class="container">
      <div class="row">
        <div class="col-sm">
    <img src ="assets/playy.png" alt="" width="60" height = "60" >
    </div>
    <div class="col-sm">
      <img class= "img" src ="assets/+i.png" alt="" width="60" height = "30" >
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
  </div>
