<div id ="body">
    <cs-header>Loading...</cs-header>
    
    <cs-videocard></cs-videocard>
    <div class="card-columns">
    <cs-carousel class="mx-2" img="./assets/z1.png" name=" Dog's Best Friend" [rating]=75 [time]=1.22 about="you've heard of man's bestfriend but who is dog's bestfriend"></cs-carousel>
    <cs-carousel class="mx-2" img="./assets/f2.png" name="Evolve" [rating]=97 [time]=1.32 about="patrick investigates lifes ways to thrive on the planet"></cs-carousel>
    <cs-carousel class="mx-2" img="./assets/p3.png" name="History By The numbers" [rating]=85 [time]=1.22 about="history with all the statistics and math you could hope for"></cs-carousel>
    <cs-carousel class="mx-2" img="./assets/z4.png" name="Film Studies" [rating]=45 [time]=1.01 about="A crash course on almost everything involving film studies"></cs-carousel>
    <cs-carousel class="mx-2" img="./assets/z5.png" name="Sky River Of The Himmalayas" [rating]=70 [time]=0.51 about="Shows the entire length of the river Brahmaputra"></cs-carousel>
    </div>
    <div class = "d-flex justify-content-center">
    <div  *ngFor="let show of shows">
        <cs-carousel class="mx-2" img={{show.img}}
         name={{show.name}} 
         about={{show.about}} 
         [time]='show.time' 
         [rating]='show.rating'>
    
        </cs-carousel>
    
    </div>
    </div>
    <cs-footer></cs-footer>
    </div>