<div id ="body">
<cs-header>Loading...</cs-header>

<cs-videocard></cs-videocard>
<div class="card-columns">
<cs-carousel class="mx-2" img="./assets/z1.png" name="Dog's Best Friend" {rating}=75 {time}=1.22></cs-carousel>
<cs-carousel class="mx-2" img="./assets/f2.png" name="Evolve"></cs-carousel>
<cs-carousel class="mx-2" img="./assets/p3.png" name="History By The numbers"></cs-carousel>
<cs-carousel class="mx-2" img="./assets/z4.png" name="Film Studies"></cs-carousel>
<cs-carousel class="mx-2" img="./assets/z5.png" name="Sky River Of The Himmalayas" ></cs-carousel>
</div>
<cs-footer></cs-footer>
</div>