<div class="card" >
    <div class="card-body">
      <h1 class="card-title">Keep Watching</h1>
      <p class="card-text">Pick up where you've left off.</p>
    </div>
  </div>
  <div class="container">
  
      <div class="row">
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
          </div>
          <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
          </div>
          <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
          </div>
          <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
        </div>
        <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
          </div>
          <div class="col-sm">
            <div class="col"><img src="assets/z1.png" alt="..." class="img-thumbnail"></div>
          </div>
      </div>
</div>

<div class="container-fluid d-flex">
    <div class = "d-flex justify-content-center">
    <div  *ngFor="let show of shows">
        <cs-carousel class="mx-2" img={{show.img}}
         name={{show.name}} 
         about={{show.about}} 
         [time]='show.time' 
         [rating]='show.rating'>Loading ... </cs-carousel>
    </div>
</div>
</div>