<style type="text/css">
  .nav-item.dropdown.show a {
      color: white !important;
  }

  #navbarDropdown {
      color: #ffffff;
  }
  .navlink.a {
      color: white !important;
  }
  
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
          
              <img src ="assets/curiosity-stream.PNG" alt="" width="190" height = "60" class="d-inline-block align-text-top">
                      
         </a>             
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!dropdown>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              BROWSE
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Science</a></li>
              <li><a class="dropdown-item" href="#">History</a></li>
              <li><a class="dropdown-item" href="#">Technology</a></li>
              <li><a class="dropdown-item" href="#">Nature</a></li>
              <li><a class="dropdown-item" href="#">Society</a></li>
              <li><a class="dropdown-item" href="#">Lifestyle</a></li>
              <li><a class="dropdown-item" href="#">Kids</a></li>
              <li><a class="dropdown-item" href="#">Crash Course</a></li>
              
            </ul>
          </li>
          
            <a class="nav-link" href="#">Collections</a>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              MY STUFF
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Keep Watching</a></li>
              <li><a class="dropdown-item" href="#">Watchlist</a></li>
              <li><a class="dropdown-item" href="#">Watching History</a></li>
            </ul>
            <a class="navbar-brand" href="#">
          
                
                        
           </a>     
          </li>
        </ul>
        <a class="navbar-brand" href="#">
            <img src ="assets/ynow.png" alt="" width="60" height = "30" class="d-inline-block align-text-top">
       </a>     
      
           <div class ="collapse navbar-collapse" id = "mine">
             <ul class = "navbar-nav me-auto mb-2 mb-lg-0">
               <li class ="nav-item">
            <a class="nav-link" href="#">40% OFF GIFT CARDS | BUY NOW></a>
          </li>
          </ul>

           </div>
                
             
              
            
            <form id="form"> 
              <input type="search" id="query" name="q" placeholder="Search">
              
            </form>
            
     
    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              USERNAME
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">ACCOUNT</a></li>
              <li><a class="dropdown-item" href="#">HELP</a></li>
              <li><a class="dropdown-item" href="#">SIGN OUT</a></li>
            </ul>
        
        
        </li>
      </div>
    </div>
  </nav>